# About ${project.name}

${project.description}

More information is available on the [README](README.html) page.

Source code is available in the [GitHub repository](https://github.com/hobrasoft-cz/PDFMU).
